page-home {
  
  

}
ion-content{ 

    background-image: url(../../assets/imgs/cake.jpg);
    background-size: cover;
    background-repeat: no-repeat;


    h2{
        text-align: center;
        color: black;
    }
}    
